extends ./layout/index

block slider 
    .slider
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .col-md-6   
                img(src="/img/inicio_nosotros.jpg", alt=" Imagen nosotros" class="img-fluid")
        include ./layout/bloque_viajes.pug
    
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                         h3 5% de Descuento 
                         p.titulo Viaje a Canada
                         p.fecha 28 de Marzo del 2022.
                         p.precio $2,500 USD
    .container 
        h2.text-center.mt-5 Testimoniales
        include ./layout/bloque_testimoniales.pug